@typeparam T
@using WebClient.Services
@inject DragAndDropService DragAndDropService
<div draggable="true" @ondragstart="@Dragstart">
    @ChildContent
</div>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public T Data { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine("initialized");
        base.OnInitialized();
    }

    public void Dragstart()
    {
        Console.WriteLine("Something happened");
        // Notify the DragAndDropService what the current Data and Zone are.
        DragAndDropService.StartDrag(Data);
    }

    private void Dragend()
    {
        Console.WriteLine("end");
    }
}